<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <h1>1+2+5</h1>
    <!-- This is a comment in EJS
     by using ejs tags -->
    <p>This is a paragraph in the home page.</p>
    <h3> <%= 1 + 2 + 5 %></h3>
    <h3> <%= "Hello MD MUSTAK Keep shining!".toUpperCase() %></h3>
    <h3><%= ["hiii","hello","byeeee"][2] %></h3>
    <p>This is a simple EJS template for the home page.</p>
    <button>Click Me</button>
</body>
</html>